$main-width: 1440px;

$main-color: #FF5029;
$main-color-hover: #ff5029b5;
$footer-color: #0B0614;
$accent-color: #FEF4F5;
$text-dark-color: #0B0614;
$text-dark-30-color: #0B06144D;
$text-dark-60-color: #0B061499;
$text-light-color: #FFFFFF;
$text-light-80-color:#FFFFFFCC



