.button {
  @include font(17px, 22px, 700);
  font-family: MontLight;

  padding: 20px 30px;
  border: none;
  border-radius: 12px;

  background-color: $main-color;
  color: $text-light-color;

  cursor: pointer;

  &:hover {
    background-color: $main-color-hover;
  }
}

.select-button {
  padding: 29px 37px;
  border-radius: 16px;
}


// width: Hug (126px)
// height: Hug (62px)