.filter {
  @include flex(normal, center);
  max-width: 1175px;
  margin: -67px auto 0;
  position: relative;
  z-index: 1;
  padding: 24px 24px 24px 40px;
  border-radius: 24px;
  gap: 22px;

  background-color: $text-light-color;
  // background-color: azure;
  box-shadow: 0px 30px 60px 0px $main-shadow;
}

.select-wrapper {
  @include flex(space-between, normal);
  flex-direction: column;
  width: 237px;
  border-right: 1px solid $text-dark-30-color;
}

.filter-label {
  @include font(16px, 20px, 600, normal, 0);
  font-family: MontLight;
}

.filter-select {
  @include font(20px, 30px, 400);
  font-family: Mont;

  border: none;
  margin-right: 30px;
  background-color: $text-light-color;
}