.header {
  @include flex(space-between);
  max-width: 1240px;
  margin: 11px auto;
}

.header-left {
  @include flex(normal, center);
  gap: 20px;
}

h1 {
  @include font(28px, 36px, 800, normal, 0em);
  font-family: Mont;
}

.header-line>p {
  font-size: 32px;
  font-weight: bold;
  color: $text-dark-30-color;
}

.header-search-wrapper {
  @include flex();
  gap: 9px;
}

.search-input {
  @include font(16px, 20.45px, 700, normal);
  font-family: MontLight;
  color: $text-dark-30-color;
  border: none;
}

// Right side of header
.header-right {
  @include flex(normal, center);
  gap: 40px;
}

.navigation-li {
  @include flex(normal, center);
  list-style: none;
  gap: 42px;

  @include font(16px, 20px, 700, normal, 0em);
  font-family: MontLight;
  font-size: 16px;
}

.navigation-link {
  text-decoration: none;
  color: $text-dark-color;
}