@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@font-face {
  font-family: Mont;
  src: url("../fonts/Mont/Mont-HeavyDEMO.otf") format("opentype");
  }

  @font-face {
    font-family: MontLight;
    src: url("../fonts/Mont/Mont-ExtraLightDEMO.otf") format("opentype");
    }

html {
  // scroll-behavior: smooth;
  font-size: 10px;
}

body {
  box-sizing: border-box;
  // background-color: #F2F2F2;
}

.not-overflow {
  overflow: hidden;
}

.main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 70px;
}


